{% extends "base.html" %}

{% block title %}Forget Password - Gardening Companion{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

<form method="POST">
    <input type="email" name="email" placeholder="Enter your registered email" minlength="4" maxlength="30" title="Minimum length 4 and must end with @gmail.com" required pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$">
    <button type="submit">Send Reset Link</button>
</form>
{% endblock %}