{% extends "base.html" %}

{% block title %}Reset Password - Gardening Companion{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

    <form method="POST" onsubmit="return validatePassword()">
        <label for="password">New Password</label>
        <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Enter new password" minlength="8" maxlength="15" required>
            <button type="button" onclick="togglePassword('password')">Show</button>
        </div>

        <label for="confirm_password">Confirm Password</label>
        <div class="password-container">
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm new password" minlength="8" maxlength="15" required>
            <button type="button" onclick="togglePassword('confirm_password')">Show</button>
        </div>

        <p id="password-error" style="color: red; display: none;">Password must contain at least one letter and one number.</p>

        <button type="submit">Reset Password</button>
    </form>

    

    
{% endblock %}
